* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Courgette", cursive;
  font-weight: 400;
  font-style: normal;
  text-transform: capitalize;
  margin: 0;
  color: #eef;
  background: white url(../images/coffee.png) no-repeat center/cover border-box;
  background-attachment: fixed;
  text-align: center;
}

.logo {
  width: 48vw;
  height: 50vh;

}

header h3 {
  margin: 1.5%;
}

#home {
  text-align: center;
  height: 100vh;
}

nav li {
  float: left;
  width: 20%;
}


nav {
  padding: 3vh 0;
  display: inline-block;
  width: 100%;
  overflow: auto;
  background-color: rgba(238, 238, 255, 0.495);
}

#Coffee,
#Cafe {
  margin: 10vh;
  height: 50vh;
}

#locations {
  height: 90vh;
}

.su,
.eg{
  margin: 5vh 0;
  height: 40vh;
}

h1 {
  text-transform: uppercase;
  margin-top: 0%;
}

ul li,
ol li {
  list-style: none;
  padding: 5px;
}

img {
  vertical-align: middle;
  height: 2vw;
}

footer {
  background-color: rgba(238, 238, 255, 0.3);
  padding: 2vw 0;
  margin-top: 2vw;
  border-top-left-radius: 250px;
  border-top-right-radius: 250px;

}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #eef;
}

#saudi,
#egy {
  padding: 5px 25px;
  border-radius: 10px;
  background-color: rgba(238, 238, 255, 0.5);
}